numpy==1.26.4
pandas==2.2.3
xgboost==2.1.4
lightgbm==4.6.0
catboost==1.2.7
scikit-learn==1.6.1
imbalanced-learn
tensorflow==2.18.0
scikeras==0.13.0
streamlit==1.42.2
huggingface_hub==0.29.1
opencv-python-headless
dill==0.3.9
